@page
@model Products.CreateOrEditModel
@{
    var isCreateMode =
        Model.EditModel.Id is not > 0;

    ViewData["Title"] =
        isCreateMode
            ? "Create Product"
            : "Edit Product";
}

<div class="card mb-2" style="max-width: 36rem;">
    <div class="card-body">
        <div class="card-title display-6 mb-3">
            @ViewData["Title"]
        </div>

        <form method="post">
            <div asp-validation-summary="ModelOnly"
                 class="text-danger">
            </div>

            <input type="hidden"
                   asp-for="EditModel.Id" />

            <div class="form-floating">
                <input asp-for="EditModel.Title" class="form-control" />
                <label asp-for="EditModel.Title"></label>
                <span asp-validation-for="EditModel.Title" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <textarea asp-for="EditModel.Description"
                          class="form-control"
                          style="min-height: 5rem; height: 10rem;">
                </textarea>
                <label asp-for="EditModel.Description"></label>
                <span asp-validation-for="EditModel.Description" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="EditModel.Price" class="form-control" />
                <label asp-for="EditModel.Price"></label>
                <span asp-validation-for="EditModel.Price" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <select class="selectpicker w-100"
                        asp-for="EditModel.CategoryIds"
                        multiple
                        aria-label="Categories"
                        data-live-search="true"
                        placeholder="Categories">

                    @foreach(var category in Model.AvailableCategories)
                    {
                        <option value="@category.Id">
                            @category.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="EditModel.CategoryIds" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="EditModel.Link" class="form-control" />
                <label asp-for="EditModel.Link"></label>
                <span asp-validation-for="EditModel.Link" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input asp-for="EditModel.ImageName" class="form-control" />
                <label asp-for="EditModel.ImageName"></label>
                <span asp-validation-for="EditModel.ImageName" class="text-danger"></span>
            </div>

            <input type="submit"
                   value="@(isCreateMode ? "Create" : "Save")"
                   class="btn btn-primary me-1" />

            @if (isCreateMode)
            {
                <input type="reset"
                   value="Reset"
                   class="btn btn-secondary" />
            }
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}