@page "/"

<PageTitle>Scroll</PageTitle>

@if (this.Categories is not null)
{
    <div class="guides-header">
        <i class="fa fa-level-down fa-flip-horizontal" style="margin-left: 10px"></i>
        <span>Popular Gift Guides</span>
    </div>
    <section class="guides">
        @foreach (var category in this.Categories.Items)
        {
            <GuideCard Category="category" />
        }
    </section>
}

<section class="tabs">
    @* <Tab Title="Newest" />
    <Tab Title="Popular" />
    <Tab Title="Price Range" /> *@
</section>

@if (this.Products is not null)
{
    <section class="products">
        @foreach (var product in this.Products.Items)
        {
            <ProductCard Product="product" />
        }
    </section>
}
