@page
@model Categories.CreateOrEditModel
@{
    var isCreateMode =
        Model.EditModel.Id is not > 0;

    ViewData["Title"] =
        isCreateMode
            ? "Create Category"
            : "Edit Category";
}

<div class="card mb-2" style="max-width: 36rem;">
    <div class="card-body">
        <div class="card-title display-6 mb-3">
            @ViewData["Title"]
        </div>

        <form method="post">
            <div asp-validation-summary="ModelOnly"
                 class="text-danger">
            </div>

            <input type="hidden"
                   asp-for="EditModel.Id" />

            <div class="form-floating">
                <input asp-for="EditModel.Name" class="form-control" />
                <label asp-for="EditModel.Name"></label>
                <span asp-validation-for="EditModel.Name" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <textarea asp-for="EditModel.Description"
                          class="form-control"
                          style="min-height: 10rem; height: 15rem;">
                </textarea>
                <label asp-for="EditModel.Description"></label>
                <span asp-validation-for="EditModel.Description" class="text-danger"></span>
            </div>

            <input type="submit"
                   value="@(isCreateMode ? "Create" : "Save")"
                   class="btn btn-primary me-1" />

            @if (isCreateMode)
            {
                <input type="reset"
                   value="Reset"
                   class="btn btn-secondary" />
            }
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}