@page "/"

<PageTitle>Scroll</PageTitle>

<div class="container mt-5">
    @if (categories is not null)
    {
        <div class="row">
            @foreach(var category in categories.Items)
            {
                <CategoryCard Category="category" />
            }
        </div>
    }
    else
    {
        <p><em>Loading...</em></p>
    }

    <h3 class="mt-4 mb-3">Hot 🔥</h3>
    @if (products is not null)
    {
        <div class="row">
            @foreach(var product in products.Items)
            {
                <ProductCard Product="product" />
            }
        </div>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
</div>