<div class="guide-card">
    <a href="/category/@Category.Id">
    <img src="https://cdn.thisiswhyimbroke.com/buying-guides/996_thumbmail/halloween-candles.jpg"
         alt="@Category.Name"
         class="guide-image"/>

        <div class="guide-name-container">
            <div class="guide-name">@Category.Name</div>
        </div>
    </a>
</div>
