/* You better appreciate the grace of these styles! */

.guide-card {
    border: 1px solid #ddd; /* Add a subtle border for definition */
    border-radius: 16px; /* Slightly rounded corners for a softer look */
    overflow: hidden; /* Ensures content fits within the corners */
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 0.5rem; /* Adjust as necessary */
    flex: 0 0 calc(100% / 5);
    display: none;
}

.guide-card a {
    text-decoration: none; /* Remove default text underline */
}

img.guide-image {
    width: 100%; /* Full width of the card */
    min-height: 148px;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensures the image covers the area neatly */
    vertical-align: middle;
}

.guide-name-container {
    margin-top: -60px;
    height: 60px;
    background-image: linear-gradient(rgba(146,146,146,0),rgba(0,0,0,.53));
    box-sizing: border-box;
}

.guide-name {
    padding: 5px 5px 10px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    line-height: 1.7rem;
    text-shadow: 2px 2px 10px #000;
}

/* Phone: Two in a row */
@media only screen and (max-width: 767px) {
    .guide-card {
        flex: 0 0 calc(50% - 1%); /* Show 2 cards per row */
        display: none!important;
    }
    .guide-card:nth-child(-n+4) {
        display: block!important; /* Show the first 4 */
    }
}

/* Tablet: Three or four in a row, you pick */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .guide-card {
        flex: 0 0 calc(100% / 3 - 1%); /* Show 3 cards per row */
        display: none!important;
    }
    .guide-card:nth-child(-n+3) {
        display: block!important; /* Show the first 3 */
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .guide-card {
        flex: 0 0 calc(100% / 4 - 1%); /* Show 4 cards per row */
        display: none!important;
    }
    .guide-card:nth-child(-n+4) {
        display: block!important; /* Show the first 4 */
    }
}

/* Desktop: Five in a row */
@media only screen and (min-width: 1200px) {
    .guide-card {
        flex: 0 0 calc(100% / 5 - 1%); /* Show 5 cards per row */
        display: none!important;
    }
    .guide-card:nth-child(-n+5) {
        display: block!important; /* Show the first 5 */
    }
}

.guide-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* A deeper shadow on hover */
}
