header {
    background-color: #333;
    text-align: center;
    padding: 2rem 0;
}

.header-image {
    width: 50%; /* or whatever you want */
    max-width: 100%; /* because responsiveness */
    display: block;
    margin: 0 auto;
}
